.category-button {
  margin: 5px;
}
#categories-toggle-container {
  display: none;
  margin-bottom: 10px;
}
body {
  padding-top: 10px;
}
h3 {
  margin-top: 0px;
}
.ad-thumb {
  width: 200px;
  float: left;
  border: 1px solid #ccc;
  padding: 3px;
  vertical-align: top;
  margin: 5px;
  overflow: hidden;
  background-color: #f0f0f0;
}
.ad-thumb a {
  max-width: 200px
}
.ad-thumb a img {
  display: block;
}
.logo {
  margin-bottom: 10px;
}
.region {
  display: inline-block;
  float: right;
  margin: 0;
}
.loader {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
}
.accordion {
  margin-bottom: 0px;
}
.search-label {
  min-width: 85px;
  text-align: right;
  padding-right: 5px;
  margin-bottom: 10px !important;
  display: inline-block;
  vertical-align: middle;
}
.search-input {
  display: inline-block;
  width: auto;
}
#search-toggle-container {
  display: none;
}
.carousel-items div {
  text-align: center;
}
.carousel-items div img {
  display: inline-block !important;
}
.ad-price-container, .ad-age-container, .ad-bedrooms-container {
  display: inline-block;
  float: left;
  line-height: 30px;
  margin-right: 15px;
}
.ad-price, .ad-age, .ad-bedrooms {
  display: inline-block;
}
.no-phone-number, .no-phone-number:hover {
  color: #000;
  text-decoration: none;
  cursor: default;
}
@media screen and (max-width: 767px) {
  #view-ad {
right: 10px;
top: 10px;
  }
}
body.modal-open {
  overflow: hidden;
}
.ad-posted-at {
  float: right;
}
.ad-region {
  float: left;
}
.header-info {
  height: 20px;
}
.header-info p {
  margin: 0;
}
